<div class="card col-8 postmain">
                        <h2 class="card-title">{{post_title}}</h5>
                        <div class="container-fluid">
                            <div class="row justify-content-between">
                                <div class="col"><h4 class="card-subtitle text-muted"> {{user_name}}</h5></div>
                                <div class="col"><h4 class="card-subtitle text-muted">{{date_created}}</h5></div>
                            </div>
                        </div>
    
                        <br>
                        <p class="card-text"> {{post_text}}</p>
</div>
{{#each comment as |comment|}}
<div class="card col-8 comm">
                        <h5 class="card-subtitle text-muted"> {{user_name}}</h3>
                        <p class="card-text"> {{comment_text}} </p>
                    </div>
             {{/each}}   